@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

h1, h2, h3, h4 {
    color: limegreen;
    font-weight: 700;
}

h1 {
    font-weight: 900;
    font-size: 72px;
    margin-left: 0;
}

h2, h3, h4 {
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

header img {
    margin: 30px;
    border: 10px solid limegreen;
}

header, nav, nav div, nav div a {
    display: flex;
    align-items: center;
}

nav img {
    width: 50px;
    margin: 10px;
    margin-right: 20px;
}

nav {
    margin-left: 20px;
}

nav div {
    margin: 10px;
}

nav div a {
    color: orange;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 32px;
}

nav div a:hover {
    color: tomato;
}

main {
    padding-left: 30px;
    width: 1200px;
}

.lugar-importante {
    font-weight: 700;
}

.periodo, .lugar-curso {
    font-style: italic;
    color: gray;
}

ul {
    list-style-type: square;
}

button {
    background-color: red;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}